 <h1> Enter the length of sides of a triangle to find out what type of triangle it is :</h1>
<form action="/output">
  <div class="form-group">
     <label for="side_a">Enter side a:</label>
     <input name="side_a" class="form-control" type="number">
     <label for="side_b">Enter side b:</label>
     <input name="side_b" class="form-control" type="number">
     <label for="side_c">Enter side c:</label>
     <input name="side_c" class="form-control" type="number">
  </div>
  <hr>
  <button action="/" class="btn btn-success">what am i?</button>
</form>
